<style>
html { height: 100%; }
body { flex-direction: column; max-width: 80ch; margin: 8px auto; }
form { flex-direction: column; }
html, body, form { display: flex; }
body, form, textarea { flex: 1; }
input[type="file"] { display: none; }
</style>
<title>Editor</title>
<form method="POST" enctype="multipart/form-data">
<header>
    <button type="button"><label for="file">Upload Files (you can insert image to the document)</label></button>
    <ul id="fileList"></ul>
    <button>Submit (save the document and upload files)</button>
    <a href="/"><button>Cancel</button></a>
    <hr>
</header>
<input type="file" id="file" name="file" multiple>
<textarea name="text" placeholder="Edit the doc here.
It can parse markdown syntax."></textarea>
</form>
<script src="/assets/edit.js"></script>
