<style>
input[type="file"] { display: none; }
</style>
<title>File</title>
<a href="/"><button>Back</button></a>
<button><label for="upload">Upload Files</label></button>
<form method="POST" enctype="multipart/form-data">
    <input type="file" id="upload" name="upload" onchange="this.form.submit()" multiple>
</form>
