<style>
main { max-width: 72ch; margin: 0 auto; }
img { max-width: 100%; }
header { background-color: white; position: -webkit-sticky; position: sticky; top: 0; }
header ul { max-width: 80ch; margin: 1em auto; }
input[type="file"] { display: none; }
</style>
<title>2022 Dream Team</title>
<form method="POST" enctype="multipart/form-data">
    <input type="file" id="image" name="image" accept="image/png, image/jpeg" onchange="this.form.submit()">
</form>
<header>
<ul>
    <a href="/edit"><button>Edit the Document</button></a>
    <button><label for="image">Insert image</label></button>
    <a href="/file"><button>View Files</button></a>
</ul>
<hr>
</header>
<main>
